@define-color cc-bg rgb(43, 48, 59);
@define-color section-bg rgba(122, 162, 247, 0.2);
@define-color text-color rgba(169, 177, 214, 1);
@define-color hover-bg rgba(169, 177, 214, 1);
@define-color hover-text rgb(43, 48, 59);

@define-color noti-border-color rgba(255, 255, 255, 0.15);
@define-color noti-bg rgb(43, 48, 59);
@define-color noti-bg-darker rgb(43, 43, 57);
@define-color noti-bg-hover rgb(27, 27, 43);
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color-disabled rgb(150, 150, 150);

* {
    font-family: Ubuntu Nerd Font;
    font-weight: bolder;
}

/* This governs darkening the rest of the screen when the panel is open.
 */
.blank-window {
    background: alpha(black, 0.25)
}

.control-center {
    background: @cc-bg;
    border: 2px solid #7aa2f7;
    border-radius: 7px;
}

/* Styling for the control buttons at the top of the panel.
 */
.widget-buttons-grid {
    font-size: x-large;
    background: @section-bg;
    padding: 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 7px;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: rgb(52, 59, 88);
    border-radius: 7px;
    color: @text-color
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @hover-bg;
    color: @hover-text;
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent
}

/* Styling for the media player status and controls.
 */
.widget-mpris {
    color: @text-color;
    background: @section-bg;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 7px;
}

.widget-mpris button {
    color: @text-color;
}

.widget-mpris button:hover {
    background: @hover-bg;
    color: @hover-text;
}

.widget-mpris-player {
    padding: 8px;
    margin: 8px
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem
}

.widget-mpris-subtitle {
    font-size: 1.1rem
}

/* Styling for the volume slider.
 */
.widget-volume {
    background: @section-bg;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 7px;
    font-size: x-large;
    color: #7aa2f7
}

.widget-volume label {
    color: @text-color;
}

.widget-volume>box>button {
    border: none
}

/* Styling for the notifications subpan title / header.
 */
.widget-title {
    color: @text-color;
    background: @section-bg;
    padding: 10px;
    margin: 5px 10px;
    font-size: 1.5rem;
    border-radius: 7px;
}

.widget-title>button {
    font-size: initial;
    color: @text-color;
    text-shadow: none;
    background: @noti-bg;
    /* border: 1px solid #7aa2f7; */
    box-shadow: none;
    border-radius: 7px
}

.widget-title>button:hover {
    background: #f7768e;
    border: 1px solid #f7768e;
    color: @cc-bg;
}

/* Styling for notifications themselves.
 */
.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @noti-bg-darker
}

.notification-row {
    outline: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.notification {
    border-radius: 7px;
    margin: 10px;
    padding: 0;
    border: 2px solid #7aa2f7
}

.notification-content {
    background: transparent;
    padding: 10px;
    border-radius: 7px
}

.notification-default-action,
.notification-action {
    padding: 4px;
    margin: 0;
    box-shadow: none;
    background: @noti-bg;
    border: none;
    color: @text-color;
    transition: all .15s ease-in-out
}

.notification-default-action:hover,
.notification-action:hover {
    -gtk-icon-effect: none;
    background: @noti-bg-hover
}

.notification-default-action {
    border-radius: 7px
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.notification-action {
    border-radius: 7px;
    border-top: none;
    border-right: none
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: #1b1b2b
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: #1b1b2b
}

.inline-reply {
    margin-top: 8px
}

.inline-reply-entry {
    background: @noti-bg-darker;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid @noti-border-color;
    border-radius: 7px
}

.inline-reply-button {
    margin-left: 4px;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    border-radius: 7px;
    color: @text-color
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-color-disabled;
    border: 1px solid transparent
}

.inline-reply-button:hover {
    background: @noti-bg-hover
}

.body-image {
    margin-top: 6px;
    background-color: #fff;
    border-radius: 7px
}

.summary {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: rgba(158, 206, 106, 1);
    text-shadow: none
}

.time {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: @text-color;
    text-shadow: none;
    margin-right: 18px
}

.body {
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    color: @text-color;
    text-shadow: none
}

.control-center-list {
    background: transparent
}

.control-center-list-placeholder {
    opacity: .5
}

.floating-notifications {
    background: transparent
}
