daemonize
ignore-empty-password
image=~/.local/share/sway/lockscreen.jpg

indicator-radius=80
indicator-thickness=6

# Default: Translucent inside, 70% Dark Aubergine ring.
inside-color=00000066
ring-color=6B4C61FF

# Activity: Typing bright yellow, deleting pale blue.
key-hl-color=FDC60AFF
bs-hl-color=3AC6FBFF
caps-lock-key-hl-color=FDC60AFF
caps-lock-bs-hl-color=3AC6FBFF

# Capslock: Bright orange text on the default ring.
text-caps-lock-color=E95420FF
inside-caps-lock-color=00000066
ring-caps-lock-color=6B4C61FF

# Clear: Pale blue, same as deleting.
inside-clear-color=FFFFFF22
ring-clear-color=3AC6FBFF

# Verify: Bright yellow, same as typing.
inside-ver-color=FFFF8822
ring-ver-color=FDC60AFF

# Wrong: Everything goes bright 100% Ubuntu Orange.
inside-wrong-color=E9542044
ring-wrong-color=E95420FF

# Always make the line, separators, and text (except capslock) invisible.
text-color=FFFFFF00
text-clear-color=FFFFFF00
text-ver-color=FFFFFF00
text-wrong-color=FFFFFF00
line-color=00000000
line-caps-lock-color=00000000
line-clear-color=00000000
line-ver-color=00000000
line-wrong-color=00000000
separator-color=00000000
separator-caps-lock-color=00000000
separator-clear-color=00000000
separator-ver-color=00000000
separator-wrong-color=00000000
