# When usb device 04a9:31ea is detected, create a systemd target named
# "dev-dslr.device".
ACTION=="add",
SUBSYSTEM=="usb",
ATTR{idVendor}=="04a9",
ATTR{idProduct}=="31ea",
SYMLINK+="dslr",
TAG+="systemd"
